
.page-search {
  padding: $sidenav-padding-right;
}

.song-search {
  input.song-search-text {
    height: 4rem;
    font-size: 2em;
  }

  .collection {
    .collection-item {
      min-height: 65px;

      .buttons {
        .btn-small {
          font-size: 0.8rem;
          height: 32px;
          line-height: 32px;
          padding: 0 0.5em;
          margin-top: 0.5em;
          margin-right: 0.5em;

          i {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

}

.video-preview-modal {
  &:after {
    content: '';
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;

  .modal {
    box-sizing: border-box;
    position: relative;
    z-index: 1003;
    display: block;
    opacity: 1;
    transform: scaleX(1);
    max-height: none;
    margin: 10px;
    width: auto;

    .modal-content {
      padding: 10px;

      .video-container {
      }
      h4 {
        margin: 0.5em 0;
        font-size: 1.8rem;
        text-align: center;
      }
      .buttons {
        .btn-small {
          font-size: 0.8rem;
          height: 32px;
          line-height: 32px;
          padding: 0 0.5em;
          margin-top: 0.5em;
          margin-right: 0.5em;

          i {
            font-size: 1.3rem;
          }

          &.btn-right {
            float: right;
          }
        }
      }
    }
  }
}
