
.page-content {
  padding: $sidenav-padding-right;
}

.song-search {
  input.song-search-text {
    height: 4rem;
    font-size: 2em;
  }

  .collection {
    .collection-item {
      min-height: 65px;

      .buttons {
        .btn-small {
          font-size: 0.8rem;
          height: 32px;
          line-height: 32px;
          padding: 0 0.5em;
          margin-top: 0.5em;
          margin-right: 0.5em;

          i {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .welcome-content {
    background-color: #f5f5f5;
    padding: $sidenav-padding-right*2;
    font-size: 1.3em;
    text-align: center;
  }

}

.btn-warn {
  @extend .red;
}

.song--item--content {
  display: flex;
  flex-direction: row;

  .song--item--title {
    flex-grow: 1;
    padding-right: 0.5em;
  }

  .song--item--buttons {
  }
}

.video-preview-modal {
  &:after {
    content: '';
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  position: fixed;
  top: $navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;

  .modal {
    box-sizing: border-box;
    position: relative;
    z-index: 1003;
    display: block;
    opacity: 1;
    transform: scaleX(1);
    max-height: none;
    margin: 10px;
    width: auto;

    .modal-content {
      padding: 10px;

      .video {
        iframe {
          display: block;
          max-height: 240px;
          margin: 0 auto;
        }
      }
      h4 {
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
      }
      .buttons {
        text-align: center;
        margin: 1em 0;

        .btn-small {
          display: inline-block;
          font-size: 0.8rem;
          height: 32px;
          line-height: 32px;
          padding-right: 1.75em;
          margin: 0 0.5em;

          i {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
